* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  background: lightgrey;
}

nav a {
  text-decoration: none;
  color: green;
}

nav a:hover {
  background-color: purple;
}

main {
  background: white;
  text-align: justify;
}

footer {
  background: lightblue;
  text-align: center;
}

/* Flexbox styling */

body {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  flex-flow: row wrap;
}

nav a {
  flex: 1 0;
  text-align: center;
}

/* Media queries */

@media screen and (max-width: 768px) {

  nav {
    order: 3;
  }

  footer {
    display: none;
  }
}
